@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

body {
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  user-select: none;
}
.fas {
  position: fixed;
  bottom: 10px;
  left: 5px;
  font-size: 20px;
  background: rgba(235, 235, 235, 0.374);
  padding: 6px;
  border-radius: 6px;
  color: rgb(240, 82, 82);
  z-index: 5;
  transition: all ease 0.3s;
}

.dijkstra {
  position: fixed;
  top: 20px;
  left: 5px;
  margin: 0;
  padding: 0;
  font-size: 15px;
  padding: 6px;
  border-radius: 6px;
  color: black;
  z-index: 5;
  transition: all ease 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.animate,
.find,
.start,
.end {
  padding: 7px;
  background: rgba(235, 235, 235, 0.374);
  border-radius: 6px;
  color: dodgerblue;
}
.animate {
  position: fixed;
  top: 65px;
  left: 10px;
}
.animate:hover,
.find:hover,
.fas:hover {
  box-shadow: 0 1px 3px 1px black;
}

.message {
  position: fixed;
  font-size: 12px;
  text-align: right;
  bottom: 0;
  right: 5px;
  color: rgba(32, 31, 31, 0.639);
  z-index: 5;
}
.message:hover {
  font-size: 20px;
}
.board {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to top, whitesmoke, rgb(213, 212, 212));

  user-select: none;
}

.node-area {
  position: absolute;
  height: 35px;
  width: 35px;
}
.node {
  position: absolute;
  height: 15px;
  width: 15px;
  /* background: rgba(88, 211, 92, 0.455); */
  box-shadow: inset -2px -1px 3.5px 2px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  cursor: copy;
  z-index: 1;
}

.node:hover,
.selected {
  filter: brightness(1.5);
  box-shadow: 0 1px 3px 1px black;
}

.label {
  position: absolute;
  height: 10px;
  min-width: 10px;
  text-align: center;
  font-size: 8px;
  padding: 0 3px;
  border-radius: 3px;
}

.line {
  background-color: rgba(7, 7, 7, 0.293);
  height: 1px;
}
.line-hover {
  background-color: red;
}
.lineLabel-hover {
  font-size: 15px;
}

.warn {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
  z-index: 5;
  font-size: 20px;
  background: rgb(184, 98, 98);
  color: whitesmoke;
  width: 250px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
}

.signNode {
  /* transform: translate(-50%, -50%) scale(1) !important; */
  border: 10px solid rgba(255, 255, 255, 0.367);
}
